body{
    background: url(https://images.unsplash.com/photo-1584985598389-3a36cb7aa1c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-position: fixed;
}

div{
    line-height: 1.5em;

    max-width: 700px;
    /*width when the screen is less than 700px*/
    width: 80%;
    
    margin: 30px auto;
    
    font-family: 'Source Sans Pro', sans-serif;

    color: white;
}

.post{
    border: 10px rgba(0, 0, 0, 0.699) solid;
}

.firstp{
    border-left: 5px solid rgba(0, 0, 0, 0.644);
    padding-left: 10px;
    font-size: 20px;
    line-height: 1.5em;
}

.bodyp{
    padding-left: 10px;
    font-size: 20px;
    line-height: 1.5em;
}

.text-highlight{
    background-color: rgba(56, 141, 162, 0.849);
}
