body{
    background-color: blanchedalmond;
    background-size: cover;
    background-position: fixed;
}

div{
    line-height: 1.5em;

    max-width: 700px;
    /*width when the screen is less than 700px*/
    width: 80%;
    
    margin: 30px auto;
    
    font-family: 'Times New Roman', Times, serif;

    color: white;
}

.post{
    border: 10px rgba(0, 0, 0, 0.699) solid;
    border-radius: 1%;
}

.firstp{
    border-left: 5px solid rgba(0, 0, 0, 0.644);
    padding-left: 10px;
    font-size: 20px;
    line-height: 1.5em;
}

.bodyp{
    padding-left: 10px;
    font-size: 20px;
    line-height: 1.5em;
}

.text-highlight{
    background-color:rgba(132, 166, 255, 0.849);
}
